@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Sacrament Meeting Agenda</h1>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Welcome to Sacrament Meeting Agenda</h2>
        <p>
            A Free Online Agenda Planner For Sacrament Meetings. Sacrament meetings are the most important events in church meetings, with this planner you focus on the spiritual and let us do the rest!
        </p>
    </div>
</div>